filelock
aiocontextvars
allure-combine
allure-pytest
allure-python-commons
appdirs
attrs
audioread
bcrypt
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
colorama
configparser
contextvars
cryptography
dataclasses
decorator
docker
edge-tts
et-xmlfile
execnet
flatbuffers
flawfinder
gevent
greenlet
idna
immutables
importlib-metadata
importlib-resources
iniconfig
Jinja2
jiwer
joblib
librosa
llvmlite
loguru
MarkupSafe
numba
numpy
openai
OpenCC
opencc-python-reimplemented
openpyxl
packaging
pandas
paramiko
pexpect
pluggy
pooch
prettytable
protobuf
psutil
ptyprocess
py
pybind11
pycparser
pydub
pyecharts
pyjsgf
PyNaCl
pyparsing
pypinyin
pytest
pytest-rerunfailures
pytest-sugar
pytest-xdist
pythainlp
python-crfsuite
python-dateutil
python-Levenshtein
pytz
PyYAML
regex
requests
resampy
schedule
scikit-learn
scipy
selenium
simplejson
six
soundfile
soupsieve
soxr
tenacity
termcolor
threadpoolctl
tinydb
tomli
tqdm
typing_extensions
urllib3
wcwidth
webrtcvad
websocket
websocket-client
xlrd
xlwt
zipp
zope.event
zope.interface
websockets
